.Button {
  background-color: mediumturquoise;
  color: white;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  font-size: 40px;
  border: none;
}

.Button:hover {
  background-color: blue;
}

.Button:active {
  background-color: lightblue;
}
